@import "_nullstyle.scss";

$bg-color: #0b1d26;
$details-color: #fbd784;
$white-color: #ffffff;

$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// html, body {
//     scrollbar-width: none;
// }

body {
    background-color: $bg-color;
    padding-top: 64px;
}

header {
    margin: 0px 80px 70px 80px;
}

a {
    color: $white-color;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Gilroy-Bold";

    &__logo {
    }

    &__links {
    }

    &__link {
        color: $white-color;
        margin-left: 38px;
        font-size: 18px;
        line-height: 22px;
        &:first-child {
            margin-left: 0px;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        p {
            margin-left: 8px;
            font-size: 17px;
            color: $white-color;
        }
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 128px 80px 0 80px;
    margin-bottom: 843px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 22px;
    color: $white-color;
    p {
        writing-mode: vertical-lr;
    }
    a {
        margin-top: 24px;
    }
}

.title-box {
    max-width: 60%;
    margin-left: 7%;
    &__headline {
    }

    &__title {
        font-family: "Chronicle-Semibold";
        font-size: 88px;
        line-height: 114%;
        text-transform: capitalize;
        color: $white-color;
        margin: 32px 0;
    }

    &__excerpt {
    }
}

.slider {
    display: flex;
    flex-direction: column;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    color: $white-color;
    text-align: right;
    border-right: $white-color;
    &__position {
        border-right: 3px solid rgba($color: #ffffff, $alpha: 0.5);
        padding: 20px 32px 20px 0;
        //SLIDER OFF
        // &:not(:first-child) {
        //     cursor: pointer;
        // }

        //SLIDER ON
        cursor: pointer;
    }
    &__position-active {
        border-color: rgba($color: #ffffff, $alpha: 1);
    }
}

.headline {
    display: flex;
    font-family: "Gilroy-Extrabold";
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $details-color;
    h3 {
        margin-left: 32px;
    }
}

.excerpt {
    display: flex;
    align-items: center;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    cursor: pointer;
    img {
        margin-left: 15px;
    }
}

.wrapper {
    max-width: 1462px;
    margin: 0 auto;
}
.desc {
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    margin-bottom: 200px;
    &:last-child {
        margin-bottom: 100px;
    }
}

.desc-content {
    &__headline {
    }

    &__title {
        font-family: "Chronicle-Semibold";
        font-size: 64px;
        line-height: 77px;
        color: $white-color;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    &__text {
        font-family: "Gilroy-Bold";
        font-size: 18px;
        line-height: 178%;
        color: $white-color;
        margin-bottom: 27px;
    }

    &__excerpt {
        display: flex;
        align-items: center;
        font-family: "Gilroy-Bold";
        font-size: 18px;
        color: $details-color;
        text-transform: lowercase;
        img {
            margin-left: 16px;
        }
    }
}
.desc-1 {
    .desc-content {
        padding-right: 114px;
        padding-left: 150px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        bottom: -200px;
        width: 100%;
        height: 1160px;
        // background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 30%, #0b1d26 100%);
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
    }
}
.desc-2 {
    .desc-content {
        padding-left: 114px;
        // padding-left: 264px;
    }
}
.desc-3 {
    .desc-content {
        padding-right: 114px;
        padding-left: 150px;
    }
}

footer {
    background-color: $bg-color;
    z-index: 99;
    position: relative;
    padding-top: 100px;
    padding-bottom: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slogan {
    &__logo {
        margin-bottom: 24px;
    }

    &__text {
        font-family: "Gilroy-Bold";
        font-size: 18px;
        line-height: 178%;
        color: $white-color;
        max-width: 60%;
    }
}
.copyright {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    color: $white-color;
    opacity: 0.5;
    line-height: 178%;
}

.footer-column {
    justify-content: space-between;
    &__title {
        font-family: "Gilroy-Bold";
        font-size: 24px;
        color: $details-color;
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    &__link {
        font-family: "Gilroy-Medium";
        font-size: 18px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer-columns {
    display: flex;
    .column-1 {
        margin-right: 212px;
    }
    .column-2 {
    }
}

.feedback {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0b1d2688 0%, #0b1d2688 100%);
        // background: linear-gradient(180deg, #0B1D26 0%, rgba(11, 29, 38, 0.274) 33%, rgba(11, 29, 38, 0.274) 66%, #0B1D26 100%);
    }
    position: relative;
    z-index: 1;
    background-image: url(../img/parallax/layer1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    .wrapper {
        padding: 100px 0 200px 0;
        position: relative;
        z-index: 1;
    }
    &__title {
        font-family: "Chronicle-Semibold";
        font-size: 72px;
        color: #fff;
        text-align: center;
        margin-bottom: 60px;
    }
    &__list {
        padding-left: 150px;
    }
    &__item {
        display: flex;
        color: #fff;
        margin-bottom: 50px;
        &:nth-child(even) {
            padding-left: 100px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #fbd784;
        margin-right: 20px;
        flex: 0 0 auto;
    }
    &__info {
        flex-basis: 75%;
    }
    &__name {
        font-family: "Chronicle-Bold";
        font-size: 32px;
        color: #fbd784;
        margin-bottom: 15px;
    }
    &__text {
        font-family: "Gilroy-Medium";
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 120%;
    }
    &__rate {
        display: flex;
    }
    &__star {
        margin-right: 5px;
        &::before {
            content: "★";
            font-size: 20px;
        }
        &.active {
            &::before {
                color: #fbd784;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

//PARALLAX

.inner {
    background-color: $bg-color;
}

.main {
    background-color: $bg-color;
}

header,
main {
    position: relative;
    z-index: 99;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
        bottom: 0;
        width: 100%;
        height: 150%;
    }
}
.parallax,
.parallax__layer {
    height: 1694px;
}

.parallax__layer {
    position: fixed;
    top: 0;
    left: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 10;
}

#parallax-1 {
    background-image: url(../img/parallax/layer1.png);
    background-position: top center;
}
#parallax-2 {
    background-image: url(../img/parallax/layer2.png);
    background-position: top 464px center;
}
#parallax-3 {
    background-image: url(../img/parallax/layer3.png);
    background-position: top 850px center;
    height: 1900px;
    //650
}

//SLIDER

.header-content {
    justify-content: center;
}

.sidebar {
    position: fixed;
    left: 3%;
    z-index: 100;
}

.slider {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    right: 3%;
    &__position-mark {
        position: absolute;
        right: 0;
        height: 58px;
        border-right: 3px solid rgba($color: #ffffff, $alpha: 1);
    }
    &__position {
        border-right: 3px solid rgba($color: #ffffff, $alpha: 0.5);
    }
}
